
body{
    background-color: rgba(255, 255, 255, 0.808);
    font-family: 'arial';
}
.container{
    max-width: 80em;
    padding: 1em;
    
}
.mybutton{
    background: #f7786b;
    display: inline;
    color: #fff;
    text-decoration: none;
    font-size: 0.75em;
    line-height: 1.5;
    padding: .3em .9em;
    border: 0;
    border-radius:0.4em;
    font-size: .80em;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
    
    
    
    
} 
.button{
    
    background: #0074d9;
    color: #fff;
    text-decoration: none; 
    font-size: 2em;
    line-height: 1.5;
    padding: .3em .9em;
    border: .75em;
    border-radius:0.4em;
    font-size: 1em;
    margin-top: 0.5em;
    margin-right: 0px;
    margin-bottom: 0.5em;
    margin-left: 0px;
    

}  
.card{
    background-color:#EAE4D8 ;
    border: 0;
    border-radius: .6em;
    padding: 1em;
    margin-top: 1em;
    margin-right: 0px;
    margin-bottom: 1em;
    margin-left: 0px;
    /* box shadow fyrir neðan */
    -webkit-box-shadow: 10px -5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px -5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px -5px 5px 0px rgba(0,0,0,0.75);
}
img{
    max-width: 100%;
    height: auto;
}
.stretch{
    display: grid;
    grid-gap: 1em;
    justify-self: stretch;
}
.recipes{
    background-color:#B35702;
}